
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('https://source.unsplash.com/random/?landscape');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: 'Caveat', cursive;
}
body::after{
  content: '';
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  opacity: .4;
}

section{
  width: 80%;
  color: #ffffff;
  z-index: 4;
  text-align: center;
}

.wrapper{
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(247, 245, 245, 0.363);
  box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
  border-radius: 88px 0 88px;
  padding: 2rem;
  
}

.wrapper h1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-align: justify;
  word-wrap: break-word;
  z-index: 4;
}

.loader{
  border: .5rem solid #075bdad7;
  border-radius: 50%;
  border-top: .5rem solid #075bdad7;
  border-bottom: .5rem solid #ffffff0a ;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.not-loader{
  display: none;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.change-advice{
  margin-top: 2rem;
  background-color: rgba(65, 152, 233, 0.61);
  cursor: pointer;
  z-index: 4;
  padding: 2rem;
  width: 100px;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: 7px 7px 19px -4px rgba(8, 8, 8, 0.842);
  border: 1px solid rgba(118, 137, 245, 0.473);
  transition: all .5s ease-in-out;
}

.change-advice:hover{
  transform: scale(1.2);
  font-weight: 600;
}

@media  screen and (max-width:638px) {
  .wrapper h1{
    font-size: 1.5rem;
  }
}